@import './reset.scss';
@import './antd.scss';
* {
    box-sizing: border-box;
    user-select: none;
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

// @font-face{
//     font-family: 'PingFangSC-Regular';
//     src: url('./PingFang.ttc');
// }