.alarmsimple{
    width: 100vw;
    min-height: 100vh;
    background-color: #F4F7FC;
}

.alarmsimple-table-wrapper{
    padding: 24px 40px;
}

//antd 样式
.alarmsimple .ant-table-tbody>.ant-table-row:nth-child(2n-1){
    background-color: #F4F7FC;
}

.alarmsimple .ant-table-tbody>.ant-table-row:nth-child(2n){
    background-color: #fff;
}