.dataMonitor-wrapper{
    width: 100%;
    height: calc(100vh - 310px);
}

.point-map-wrapper{
    padding: 10px;
    width: 100%;
    height: 429px;
    overflow: hidden;
}

.point-detail-operate{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 90px;
    background-color: #FAFBFF;
    border: 1px solid #ECEAF3;
}