.manage {
    margin-top: 24px;
}

.manage-content {
    margin: 0px 24px 33px;
}

.manage-operate-wrapper {
    padding-top: 20px;
    height: 100px;
}

.manage-export-btn {
    float: left;
}

.manage-search-input {
    float: right;
}

.k-select {
    text-decoration: underline;
    cursor: pointer;
}

.k-select:hover {
    color: #5D3AB3;
}